/** @format */

@import url("../css/fonts.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-Futuru);
}
/* start landing section  */
main .landing {
  padding-bottom: 50px;
}
main .landing .heading h1 {
  font-family: var(--font-berlinBoldX);
  font-size: 48px;
  line-height: 87%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: start;
}
main .landing .heading p {
  font-family: var(--font-Futuru);
  font-weight: 400;
  font-size: 16px;
  line-height: 153%;
  letter-spacing: 5%;
  text-transform: capitalize;
  text-align: start;
}
main .landing .circle {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2px;
}
main .landing .circle .right,
main .landing .circle .left {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
/* media query */
/* for mobile & smaller Screens */
@media (max-width: 480px) {
}
/* for tablet & medium Screens */
@media (481px <= width <= 768px) {
  /* for any ipad or tablet */
}
/* for Laptops/Small Desktops Screens */
@media (769px <= width <= 1024px) {
  /* for ipad pro and laptops */
  main .landing .heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  main .landing .heading h1 {
    margin-top: 0;
  }
  main .landing .heading p {
    width: 180px;
  }
}
/* for Desktops/Large Screens */
@media (1025px <= width <= 1200px) {
}
/* for TVs/Wide Monitors */
@media (min-width: 1201px) {
}
/* end landing section  */
/* start vision section */
main .vision {
  padding-bottom: 50px;
}
main .vision .carts .cart {
  width: 100%;
  padding: 51px 57px;
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 20px;
  background-color: #918f5c08;
  border-radius: 15px;
  margin-bottom: 20px;
}
main .vision .carts .cart .icon-holder {
  width: 38px;
  height: 38px;
}
main .vision .carts .cart .icon-holder img {
  width: 38px;
  height: 38px;
}
main .vision .carts .cart .content h3 {
  font-family: var(--font-Futuru);
  font-weight: 600;
  font-size: 20px;
  line-height: 126%;
  letter-spacing: 5%;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 20px;
}
main .vision .carts .cart .content h4 {
  font-family: var(--font-Futuru);
  font-weight: 400;
  font-size: 16px;
  color: #606060;
  line-height: 153%;
  letter-spacing: 5%;
  text-transform: capitalize;
  text-align: left;
}
/* media query */
/* for mobile & smaller Screens */
@media (max-width: 480px) {
}
/* for tablet & medium Screens */
@media (481px <= width <= 768px) {
  /* for any ipad or tablet */
}
/* for Laptops/Small Desktops Screens */
@media (769px <= width <= 1024px) {
  /* for ipad pro and laptops */
  main .vision .carts {
    display: grid;
    grid-template-areas:
      "cart1 cart2"
      "cart3 cart3";
    column-gap: 20px;
  }
  main .vision .carts .cart {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
  main .vision .carts .cart1 {
    grid-area: cart1;
  }
  main .vision .carts .cart2 {
    grid-area: cart2;
  }
  main .vision .carts .cart3 {
    grid-area: cart3;
  }
}
/* for Desktops/Large Screens */
@media (1025px <= width <= 1200px) {
}
/* for TVs/Wide Monitors */
@media (min-width: 1201px) {
}
/* end vision section */
/* start we combine section */
main .combine .heading {
  padding-bottom: 50px;
}
main .combine .heading h5 {
  font-family: var(--font-berlinReg);
  font-size: 20px;
  line-height: 143%;
  text-align: center;
}
main .combine .combines {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 90px;
}
main .combine .combines .combine-cart {
  padding: 10px 25px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0.15) 100%
  );
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 1px 1px 10px 0px rgba(0, 0, 0, 0.1);

  border-radius: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
main .combine .combines .combine-cart h3 {
  font-family: var(--font-Futuru);
  font-weight: 600;
  font-size: 20px;
  line-height: 126%;
  letter-spacing: 5%;
  text-transform: capitalize;
  text-align: start;
  margin: 0;
}
main .combine .combines .combine-cart i {
  background-color: #01fdb2;
  padding: 5px;
  border-radius: 7px;
  color: #fff;
}
main .combine .q-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}
main .combine .q-holder .qs h3 {
  text-align: start;
  font-family: var(--font-Futuru);
  font-weight: 600;
  font-size: 20px;
  line-height: 126%;
  letter-spacing: 5%;
  text-transform: capitalize;
  margin-bottom: 10px;
}
main .combine .q-holder .qs h4 {
  font-family: var(--font-Futuru);
  font-weight: 400;
  font-size: 16px;
  line-height: 153%;
  letter-spacing: 5%;
  text-transform: capitalize;
}
main .combine .buttons-holder {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
  margin-bottom: 150px;
}
main .combine .buttons-holder button {
  border: none;
  width: 100%;
  height: 60px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: 800;
}
main .combine .buttons-holder .booking {
  background-color: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
}
main .combine .buttons-holder .speak {
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: underline;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
main .combine .buttons-holder .booking:hover {
  background-color: #cc2236;
  box-shadow: 0px 0px 20px 5px rgba(204, 34, 54, 0.5);
}
main .combine .buttons-holder .booking:active {
  background-color: #931213;
  border: 1px solid #ffffff;
}
main .combine .buttons-holder .speak:hover {
  background-color: #ffc9bf70;
}
/* end we combine section */
/* media query */
/* for mobile & smaller Screens */
@media (max-width: 480px) {
}
/* for tablet & medium Screens */
@media (481px <= width <= 768px) {
  /* for any ipad or tablet */
}
/* for Laptops/Small Desktops Screens */
@media (769px <= width <= 1024px) {
  /* for ipad pro and laptops */
  main .combine .combines {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  main .combine .q-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin-bottom: 50px;
  }
  main .combine .q-holder .qs {
    width: 33%;
  }
  main .combine .buttons-holder {
    flex-direction: row;
    gap: 20px;
  }
  main .combine .buttons-holder .booking:hover {
    background-color: #cc2236;
    box-shadow: 0px 0px 20px 5px rgba(204, 34, 54, 0.5);
  }
  main .combine .buttons-holder .booking:active {
    background-color: #931213;
    border: 1px solid #ffffff;
  }
  main .combine .buttons-holder .speak:hover {
    background-color: #ffc9bf70;
  }
}
/* for Desktops/Large Screens */
@media (1025px <= width <= 1200px) {
}
/* for TVs/Wide Monitors */
@media (min-width: 1201px) {
}
