@font-face {
  font-family: "Futuru";
  src: url("../assets/fonts/futuru/Futuru-VariableVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "berlinReg";
  src: url("../assets/fonts/berlin-sans-fb-R/BRLNSR.TTF") format("truetype");
  /* font-weight: 100 900; */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "berlinBold";
  src: url("../assets/fonts/berlin-sans-fb-B/BRLNSDB.TTF") format("truetype");
  /* font-weight: 100 900; */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "berlinBoldX";
  src: url("../assets/fonts/berlin-sans-fb-XB/BRLNEXTRAB.TTF") format("truetype");
  /* font-weight: 100 900; */
  font-style: normal;
  font-display: swap;
}