@import url("./fonts.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "berlinfb", sans-serif;
}
:root {
    --primary-color: #BD0A1F;
    --font-primary: "berlinfb", sans-serif;
    --font-secondary: "berlin", sans-serif;
    --font-accent: "beranda", sans-serif;
    --font-typo: "Futuru", sans-serif;
}

main .container {
    width: 80%;
    margin: 0 auto;
}
/* start hero section */
/* start nav */
main .container nav {
    margin: 50px 0;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .container nav a img {
    max-width: 100%;
    max-height: 100%;
}
main .container nav i {
    color: var(--primary-color);
    font-size: 20px;
}
/* start nav */
.hero {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 38px;
    text-align: center;
    align-items: center;
}
.hero .heading-area {  
    margin-bottom: 20px;
}
.hero .heading-area h1 {  
    font-weight: 700;
    font-size: 34px;
    line-height: 124%;
    text-transform: uppercase;
}
.hero .heading-area h1 span {
    color: var(--primary-color);
}
.hero .binocular-area {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.hero .binocular-area .circles {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0;
}
.hero .binocular-area .circles .circle {
    transition: transform 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.binocular-area:hover .circles .circle {
  transform: scale(1.4);
}
.hero .binocular-area:hover .right {
  transform: scale(1.4) translateX(15.5px);
}
.hero .binocular-area:hover .left {
  transform: scale(1.4) translateX(-15.5px);
}
.hero .binocular-area:hover .img-holder img {
    transform: translatey(10px);
}
.hero .binocular-area .circles .circle {
    align-self: flex-start;
    justify-self:start ;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: var(--primary-color);  
}
.hero .binocular-area .img-holder {  
    width: 100%;
    overflow: hidden;
}
.hero .binocular-area .img-holder img {  
    max-width: 100%;
    margin-bottom: -5px;
    width: 218px;
    position: relative;
    z-index: 2;
    width: 350px;
    transition: transform 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.hero .binocular-area .buttons-holder {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
}
.hero .binocular-area .buttons-holder button {
    border: none;
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 800;
}
.hero .binocular-area .buttons-holder .booking {
    background-color: var(--primary-color);
    color: #FFFFFF;
}
.hero .binocular-area .buttons-holder .speak {
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: underline;
    border: 2px solid var(--primary-color);
}
.hero .paragraph-area {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 153%;
    letter-spacing: 5%;
    text-align: center;
}
.hero .paragraph-area p {
    font-family: var(--font-typo);
}
/* end hero section */