/** @format */

@import url("../css/fonts.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-Futuru);
}
/* start heading section */
section.heading {
  padding-bottom: 40px;
}
section.heading h1 {
  font-family: var(--font-berlinBoldX);
  font-size: 34px;
  line-height: 124%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* end heading section */
/* start services section */
main .services {
  padding: 40px 0;
  overflow-x: hidden;
}
main .services .services-carts-holder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
section.services .float {
  position: absolute;
  width: 500px;
  height: 500px;
  object-fit: cover;
  z-index: -1;
}
section.services .one {
  top: -170px;
  left: 50px;
  rotate: 10deg;
}
section.services .two {
  top: 650px;
  left: 45px;
  rotate: 10deg;
}
section.services .three {
  top: 1475px;
  left: 60px;
  rotate: 53deg;
}
section.services .four {
  top: 2275px;
  left: 70px;
  rotate: 10deg;
  transform: scaleX(-1);
}
section.services .five {
  top: 3015px;
  left: 55px;
  rotate: 10deg;
}
section.services .six {
  width: 775px;
  height: 775px;
  top: 3595px;
  left: 35px;
  rotate: 10deg;
}
section.services .seven {
  width: 745px;
  height: 745px;
  top: 4490px;
  left: 15px;
  rotate: 15deg;
}
section.services .eight {
  width: 500px;
  height: 500px;
  top: 5425px;
  left: 30px;
  rotate: 15deg;
}
section.services .nine {
  width: 500px;
  height: 500px;
  top: 6120px;
  left: 30px;
  rotate: 25deg;
}
section.services .ten {
  width: 900px;
  height: 900px;
  top: 6555px;
  left: -100px;
  rotate: 25deg;
}
main .services .services-carts-holder .cart {
  width: 100%;
  padding: 40px;
  background: rgba(255, 241, 241, 0.25);
  backdrop-filter: blur(7px);
  border-radius: 20px;
  z-index: 1;
}
main .services .services-carts-holder .cart .icon-holder {
  width: 75px;
  height: 75px;
  margin-bottom: 40px;
}
main .services .services-carts-holder .cart .icon-holder img {
  width: 100%;
  height: 100%;
}
main .services .services-carts-holder .cart .cart-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
main .services .services-carts-holder .cart .cart-content .heading h3 {
  text-align: left;
  font-family: var(--font-Futuru);
  color: #cc2236;
  font-weight: 700;
  font-size: 25px;
  line-height: 126%;
  letter-spacing: 5%;
  text-transform: capitalize;
}
main .services .services-carts-holder .cart .cart-content .heading h2 {
  text-align: left;
}
main .services .services-carts-holder .cart .cart-content .heading p {
  text-align: left;
  font-family: var(--font-Futuru);
  font-weight: 400;
  color: #454545;
  font-size: 18px;
  line-height: 126%;
  letter-spacing: 5%;
  text-transform: capitalize;
}
main .services .services-carts-holder .cart button {
  align-self: flex-start;
  background-color: #cc2236;
  color: #ffffff;
  border: none;
  border-radius: 18px;
  font-size: 14px;
  line-height: 100%;
  font-weight: 800;
  padding: 12px 27px;
  text-transform: uppercase;
  text-align: left;
}

main .services .buttons-holder {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
  margin-top: 30px;
}
main .services .buttons-holder button {
  border: none;
  width: 100%;
  height: 60px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: 800;
}
main .services .buttons-holder .booking {
  background-color: var(--primary-color);
  color: #ffffff;
}
main .services .buttons-holder .speak {
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: underline;
  border: 2px solid var(--primary-color);
}
/* end services section */
